[submodule ".vim/bundle/texlog"]
	path = .vim/bundle/texlog
	url = https://github.com/glts/vim-texlog.git
[submodule ".vim/bundle/textobj-indblock"]
	path = .vim/bundle/textobj-indblock
	url = https://github.com/glts/vim-textobj-indblock.git
[submodule ".vim/bundle/cottidie"]
	path = .vim/bundle/cottidie
	url = https://github.com/glts/vim-cottidie.git
[submodule ".vim/bundle/textobj-comment"]
	path = .vim/bundle/textobj-comment
	url = https://github.com/glts/vim-textobj-comment.git
[submodule ".vim/bundle/magnum"]
	path = .vim/bundle/magnum
	url = https://github.com/glts/vim-magnum.git
[submodule ".vim/bundle/radical"]
	path = .vim/bundle/radical
	url = https://github.com/glts/vim-radical.git
