[submodule ".vim/bundle/texlog"]
	path = .vim/bundle/texlog
	url = git://github.com/glts/vim-texlog.git
[submodule ".vim/bundle/textobj-indblock"]
	path = .vim/bundle/textobj-indblock
	url = git://github.com/glts/vim-textobj-indblock.git
[submodule ".vim/bundle/cottidie"]
	path = .vim/bundle/cottidie
	url = git://github.com/glts/vim-cottidie.git
[submodule ".vim/bundle/textobj-comment"]
	path = .vim/bundle/textobj-comment
	url = git://github.com/glts/vim-textobj-comment.git
