[user]
	name = David Bürgin
	email = dbuergin@gluet.ch
[core]
	excludesFile = ~/.cvsignore
[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
[push]
	default = simple
[rebase]
	autoSquash = true
[include]
	path = ~/.gitconfig.local
